@use "../abstracts/mixins" as mix;

* { box-sizing: border-box; }

body {
  @include mix.tablet-styles{ 
    padding-left: 0;
  }

  margin: 0;
  padding-left: 20%;
}

h1,
h2,
h3,
p,
ul { margin-top: 0; }

img {
  display: block;
  max-width: 100%;
}



a {
  text-decoration: none;
}